@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: 100%;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  background: #454545;
  color: #f1f1e6;
  overflow-x: hidden;
  height: 100%;
  cursor: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* 커서 */
.cursor {
  width: 35px;
  height: 35px;
  background: #c16548;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  z-index: 9999;
  transition:
    transform 0.3s ease,
    background 0.3s ease;
}

.cursor.active {
  transform: translate(-50%, -50%) scale(2.5);
  background: #f1f1e6;
  mix-blend-mode: difference;
}

/* 네비게이션 */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 40px 120px;
  z-index: 100;
}

.nav ul {
  display: flex;
  gap: 100px;
  list-style: none;
}

.nav ul li a.active {
  color: #c16548;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
  color: #f1f1e6;
  font-size: 30px;
  transition: 0.4s;
}

.nav a:hover {
  color: #b8d8ba;
}

.nav.light-mode a {
  color: #1a1a1a;
}

.nav.light-mode a:hover {
  color: #c16548;
}

/* 섹션 공통 */
.hero,
.section-two {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  position: relative;
}

/* INTRO Section */
.hero {
  background: #f1f1e6;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 100px;
  min-height: 100vh;
  height: auto;
  padding-top: 150px;
  padding-bottom: 100px;

  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  box-sizing: border-box;
}

.hero-left h1 {
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: 3px;
  font-weight: 400;
  color: #454545;
}
.hero-left h1 span {
  color: #1a1a1a;
}

.typing span {
  opacity: 0;
  display: inline-block;
}

.img-box {
  width: 340px;
  aspect-ratio: 340 / 500;
  height: auto;
  overflow: hidden;
  flex-shrink: 0;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.5s;
}

.img-box:hover img {
  filter: grayscale(0%);
}

/* ABOUT 섹션 */
.section-two {
  min-height: 100vh;
  height: auto;
  padding: 10vh 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.history-title {
  font-size: clamp(40px, 6vw, 70px);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: clamp(150px, 15vh, 250px);
  transition: font-size 0.3s ease;
  line-height: 1.2;
}

.history-title span {
  color: #f1f1e6;
}

.history-container {
  width: 100%;
  position: relative;
  padding: 100px 0;
}

/* 타임라인 레이아웃 */
.timeline-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background: rgba(241, 241, 230, 0.2);
  margin-top: 100px;
}

.line-horizontal {
  position: absolute;
  width: 0%;
  height: 100%;
  background: #f1f1e6;
  left: 0;
  top: 0;
}

.v-timeline {
  display: none;
  position: relative;
  padding: 40px 0 100px 30px;
}

.timeline-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

/* 점(Dot) */
.dot {
  width: 10px;
  height: 10px;
  background: #f1f1e6;
  z-index: 10;
  margin-left: -5px;
  flex-shrink: 0;
}

/* 세로선 */
.line-vertical {
  width: 1px;
  height: 0;
  background: #f1f1e6;
  position: absolute;
  left: 0;
}

.item-up .line-vertical {
  bottom: 5px;
  height: clamp(80px, 15vh, 140px);
}

.item-down .line-vertical {
  top: 5px;
  height: clamp(80px, 15vh, 140px);
}

.year {
  position: absolute;
  left: 12px;
  font-size: 45px;
  line-height: 1;
  opacity: 0;
}

.item-up .year {
  bottom: 15px;
}

.item-down .year {
  top: 15px;
}

.content {
  position: absolute;
  left: 12px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  opacity: 0;
  white-space: nowrap;
}

.item-up .content {
  bottom: 105px;
}

.item-down .content {
  top: 105px;
}

/* PORTFOLIO */
:root {
  --bg-portfolio: #f1f1e6;
  --card-orange: #c16548;
  --text-dark: #1a1a1a;
  --border-color: #1a1a1a;
}

.nav.dark-mode a {
  color: #454545;
}

.nav.dark-mode a.active {
  color: #c16548;
  font-weight: bold;
}

.nav.dark-mode a:hover {
  color: #000000;
}

.section-portfolio {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-portfolio);
  display: flex;
  align-items: center;
  padding: 120px 80px 80px 80px;
  scroll-snap-align: start;
  position: relative;
}

.portfolio-container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: start;
}

/* 왼쪽 텍스트 섹션 */
.portfolio-textcard {
  color: var(--text-dark);
  padding-top: 20px;
}

.portfolio-textcard h2 {
  font-size: 80px;
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.portfolio-textcard p {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 700;
}

/* 카드 공통 스타일 */
.portfolio-card {
  text-decoration: none;
  display: flex;
  position: relative;
  flex-direction: column;
  transition: transform 0.3s ease;
  border: 1px solid var(--border-color);
  margin-top: 50px;
  opacity: 0;
  transform: translateY(80px);
  overflow: hidden;
}

.card-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #d9d9d9;
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
  display: block;
  transition: 0.5s;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  padding: 25px 20px;
  background-color: transparent;
  color: var(--text-dark);
  min-height: 160px;
}

.card-text h3 {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 300;
  margin-bottom: 10px;
}

.cart-text p {
  font-family: sans-serif;
  font-size: 18px;
}

.team-tag {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  color: #666;
}

.portfolio-card:hover {
  transform: translateY(-10px);
}

.card-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px;
  color: white;
  opacity: 0;
  transition: 0.4s;
}

.card-overlay p {
  font-size: 24px;
  opacity: 0.9;
}

.card-overlay span {
  color: #afacac;
}

.portfolio-card:hover .card-overlay {
  opacity: 1;
}

.portfolio-card:hover img {
  transform: scale(1.05);
}

/* SKILL 섹션 */
.section-skill {
  width: 100%;
  min-height: 100vh;
  background-color: #454545;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  scroll-snap-align: start;
}

s .skill-marquee {
  width: 100%;
  background-color: #f1f1e6;
  padding: 30px 0;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #454545;
  display: flex;
  align-items: center;
}

.marquee-content {
  display: flex;
  white-space: nowrap;
}

.skill-item img {
  height: 100px;
  display: block;
}

.skill-bottom {
  padding: 80px 120px 40px 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.experience-text h2 {
  font-size: clamp(100px, 10vw, 150px);
  line-height: 0.9;
  color: #f1f1e6;
  font-weight: 400;
}

.description-text p {
  font-family: sans-serif;
  font-size: 24px;
  line-height: 1.6;
  color: #f1f1e6;
  text-align: right;
  margin-bottom: 10px;
}

.nav.skill-mode a {
  color: #f1f1e6;
}

.nav.skill-mode a.active {
  color: #c16548;
  font-weight: bold;
}

/* CONTACT 섹션  */
.section-contact {
  width: 100%;
  min-height: 100vh;
  background-color: #f1f1e6;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.contact-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 80px;
  padding-top: 100px;
}

.phone-wrapper {
  position: relative;
  width: 320px;
  flex-shrink: 0;
}

.phone-img {
  width: 100%;
  height: auto;
  display: block;
}

.phone-btn {
  position: absolute;
  bottom: -15px;
  left: 55%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.click-icon {
  width: 35px;
  transform: translateY(-5px);
  z-index: 11;
}

@keyframes pulseClick {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

.tag {
  display: inline-block;
  padding: 15px 35px;
  border: 2px solid #c16548;
  border-radius: 50px;
  background: #fff;
  color: #1a1a1a;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  margin: 5px;
}

.tag-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 반응형 */

/* 1. 태블릿 & 작은 노트북 (1200px 이하) */
@media (max-width: 1200px) {
  .nav {
    padding: 30px 60px;
  }

  .nav ul {
    gap: 40px;
  }

  .hero {
    flex-direction: row;
    align-items: flex-end;
    gap: 5vw;
    padding-bottom: 150px;
  }

  .hero-left h1 {
    font-size: clamp(20px, 3vw, 35px);
    text-align: left;
  }

  .img-box {
    width: 25vw;
    max-width: 340px;
    min-width: 200px;
  }

  .section-portfolio {
    padding: 100px 40px;
    align-items: flex-start;
  }

  .portfolio-textcard h2 {
    font-size: clamp(40px, 8vw, 60px);
    margin-top: 20px;
  }

  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-two {
    padding: 120px 60px;
    height: auto;
    min-height: 120vh;
  }

  .history-title {
    margin-bottom: 150px;
  }
}

/* 2. 모바일 (768px 이하) */
@media (max-width: 768px) {
  /* 네비게이션 간소화 */
  .nav {
    padding: 20px;
  }

  .nav ul {
    gap: 15px;
    justify-content: center;
  }

  .nav a {
    font-size: 18px;
  }

  /* 메인 섹션 */
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    padding-bottom: 80px;
    padding-top: 100px;
  }

  .hero-left h1 {
    font-size: 24px;
    text-align: center;
  }

  .img-box {
    width: 60%;
  }

  .section-two {
    padding: 80px 20px;
    justify-content: flex-start;
  }

  .history-title {
    margin-bottom: 80px;
  }

  .history-container {
    padding: 150px 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .timeline-wrapper {
    display: none;
  }

  .v-timeline {
    display: block;
  }

  .v-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(241, 241, 230, 0.3);
  }

  .v-item {
    position: relative;
    padding: 25px 0 25px 40px;
    opacity: 0;
    transform: translateX(20px);
  }

  .v-dot {
    position: absolute;
    left: -5px;
    top: 35px;
    width: 10px;
    height: 10px;
    background: #c16548;
  }

  .v-year {
    font-size: 32px;
    color: #f1f1e6;
    line-height: 1;
  }

  .v-content {
    font-family: sans-serif;
    font-size: 15px;
    color: rgba(241, 241, 230, 0.7);
    margin-top: 8px;
  }

  .year {
    font-size: 24px;
    /* 45px -> 28px로 축소 */
  }

  .content {
    font-size: 13px;
    white-space: normal;
    width: 100px;
  }

  .section-portfolio {
    padding-top: 80px;
    display: block;
  }

  .portfolio-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .portfolio-textcard {
    margin-bottom: 40px;
    padding-top: 20px;
  }

  .portfolio-textcard {
    margin-bottom: 40px;
    padding-top: 20px;
  }

  .portfolio-card {
    margin-top: 20px;
  }

  .card-overlay p:nth-of-type(n + 4) {
    display: none;
  }

  /* 스킬 섹션 */
  .skill-bottom {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
  }

  .experience-text h2 {
    font-size: 60px;
  }

  .description-text p {
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
  }

  /* 컨택트 섹션 */
  .section-contact {
    height: auto;
    padding: 120px 20px;
  }

  .contact-container {
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
  }

  .phone-wrapper {
    width: 260px;
    transform: translateY(0);
    margin: 0 auto;
  }

  .tag-container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .tag-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  .tag {
    margin: 0;
    white-space: nowrap;
  }

  .cursor {
    display: none;
  }

  body {
    cursor: auto;
  }
}
